<div class = "container">
  <h1 class = "25">Register </h1>

  <form method="post" action="">
    <input placeholder="username"
           type="data"
           class="form-control"/>
    <input placeholder='password'
           type="password"
           class="form-control"/>
    <input placeholder='verify password'
           type="password"
           class="form-control"/>
    <p>
      <a routerLink='/login'>
        <input type="submit" value="Register" class="html-text-box1">
      </a>
      <a routerLink='/login'>
        <input type="submit" value="Cancel" class="html-text-box2" >
      </a>
    </p>
  </form>

</div>
