 <header class = "blue">
    <div class = "row">
      <div class="col-xs-8" >
        <span style = "font-size:25pt; margin-left:10%;">New Events</span>
      </div>
      <div class="col-xs-2">
        <a routerLink = '/user/:uid/website'>
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
 </header>

<hr />

<div class = "container">
        <form method="post" action="">
          <label for="name" class="html-text-box">Name</label>
          <textarea name="name" placeholder="" cols="25" rows="1" class="html-text-box"></textarea>
          <label for="date" class="html-text-box">Date</label>
          <textarea name="name" placeholder="" cols="25" rows="1" class="html-text-box"></textarea>
          <label for="place" class="html-text-box">Place</label>
          <textarea name="name" placeholder="" cols="25" rows="1" class="html-text-box"></textarea>
          <label for="description" class="html-text-box">Description</label>
          <textarea name="email" placeholder="" cols="25" rows="3" class="html-text-box"></textarea>
        </form>
</div>

<footer class = "blue">
  <a routerLink='/user/:uid'>
    <span class="glyphicon glyphicon-user"></span>
  </a>
</footer>
