<div class="font-lato">
  <nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container-fluid ">
      <div class="navbar-header">
        <a routerLink="" class="navbar-brand weaver-size">
          <img class = "pull-left" id="logo" src="../../../../assets/images/logo.png">Weaver</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/event" class = "glyphicon glyphicon-search search-icon"></a></li>
        <li><input type = "text"
                   name = "search"
                   placeholder=" search event . . . "
                   class="search-text"></li>
        <li><a (click)="toProfile()">Profile <i class="fa fa-user-circle"></i></a></li>
        <li><a routerLink="/login">Logout  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </nav>
<div class="topspace2">
<div class = "container">
        <form method="post" action="">
          <label for="name" class="html-text-box">Name</label>
          <textarea name="name" placeholder="" cols="25" rows="1" class="html-text-box"></textarea>
          <div class="col-sm-6">
          <label for="date" class="html-text-box ">Date</label>
          <textarea name="name" placeholder="" cols="25" rows="1" class="html-text-box"></textarea>
          </div>

          <div class="col-sm-6">
          <label for="place" class="html-text-box">Place</label>
          <br>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle largeBtn" type="button" data-toggle="dropdown">
                Select Location<span class="caret"></span>
                </button>
              <ul class="dropdown-menu">
                <li><a href="#">San Jose</a></li>
                <li><a href="#">Mountain View</a></li>
                <li><a href="#">Santa Clara</a></li>
                <li><a href="#">Sunnyvale</a></li>
                <li><a href="#">Fremont</a></li>
                <li><a href="#">San Francisco</a></li>
                <li><a href="#">Others</a></li>
              </ul>
            </div>
          </div>

          <label for="description" class="html-text-box" style="float:left">Description</label>
          <textarea name="email" placeholder="" cols="25" rows="3" class="html-text-box"></textarea>
          <button routerLink='/user/:uid/website'
                  class="text-box1"> Add New Events </button>
    </form>
  </div>

</div>
</div>

