<header class = "blue">
  <h1 class = "25"> Inbox </h1>
</header>
<div class = "container">
  <ul class = "list-group">

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-4">
          <span>Sender</span>
        </div>
        <div class="col-xs-4">

            <span>Title</span>

        </div>
      </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-4">
          <a routerLink="/user/:uid/website/att/:pid">
          <span>there2win</span>
          </a>
        </div>
        <div class="col-xs-4">
          <a routerLink="">
          <span>Interested in big data workshop?</span>
          </a>
        </div>
      </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-4">
          <a routerLink="/user/:uid/website/att/:pid">
          <span>jinniu</span>
          </a>
        </div>
        <div class="col-xs-4">
          <a routerLink="">
          <span>Web5610 quiz today!</span>
          </a>
        </div>
      </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-4">
          <a routerLink="/user/:uid/website/att/:pid">
          <span>vickyzhang</span>
          </a>
        </div>
        <div class="col-xs-4">
          <a routerLink="">
          <span>Group discussion before class? </span>
          </a>
        </div>
      </div>
    </li>

  </ul>

  <p>
    <a routerLink='/user/:uid/website'>
      <input type="submit" value="Websites" class="html-text-box1">
    </a>

    <a routerLink='/user/:uid'>
      <input type="submit" value="Profile" class="html-text-box2">
    </a>

  </p>

</div>
<footer class = "blue">
  <a routerLink = '/user/:uid'>
    <span class="glyphicon glyphicon-user"></span>
  </a>
</footer>

