<header class = "whitetext">
  <div class = "row">
    <div class="col-xs-1">
      <a routerLink='/user/:uid/website'>
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="col-xs-6" >
      <span style="font-size: 25pt">Attendees</span>
    </div>
  </div>
</header>
<hr />


<div class = "container-fluid">

  <ul class = "list-group">

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6" style="font-size: 20px">
          <a routerLink = '/user/:uid'>Xing Du</a>
        </div>
      </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6" style="font-size: 20px">
          <a routerLink = '/user/:uid/website/att/:pid'>Haolin Li</a>
        </div>
        </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6" style="font-size: 20px">
          <a routerLink = '/user/:uid/website/att/:pid'>Qi Zhang</a>
        </div>
      </div>
    </li>

    <li class = "list-group-item">
      <div class = "row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6" style="font-size: 20px">
          <a routerLink = '/user/:uid/website/att/:pid'>Jin Niu</a>
        </div>
      </div>
    </li>

  </ul>

</div>

<footer class = "blue">
  <a routerLink = '/user/:uid'>
    <span class="glyphicon glyphicon-user"></span>
  </a>
</footer>
