<div class="bg">
  <div class="container-fluid ">
<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand weaver-size"><img class = "pull-left" id="logo" src="../../../../assets/images/logo.png">Weaver</a>
    </div>


    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/event" class = "glyphicon glyphicon-search search-icon"></a></li>
        <li><input type = "text"
                   name = "search"
                   placeholder=" search event . . . "
                   class="search-text"></li>
        <li><a id="menu-about">About</a></li>
        <li><a id="menu-contact">Contact</a></li>
        <li><a routerLink="/register">Sign Up  <i class="fa fa-user-plus"></i></a></li>
        <li><a routerLink="/login">Login  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="content">
        <h1>
          Weaver
        </h1>
        <h3>
          Event-based Social Network
          <br>
          Let's get together,
          <br>
          learn more about upcoming events here!
        </h3>
        <hr class=" pull-left">
        <br>
        <br>
        <button routerLink="/event" class="btn btn-default btn-lg bt"><i class="far fa-address-card"></i>  Get Started!
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="content" id="about">
        <h3>About us</h3>
        <p class="pLine1">* an event-based social network website.</p>
        <p class="pLine1">* aim to help campus organize different events easily, and not be a dating service.</p>
        <p class="pLine1">* develop event list to help both individual and group to public and schedule events</p>
        <p class="pLine1">* develop instant chatting to help group members communicate more easily</p>
        <p class="pLine1">* more features:notification, chatting, submission，management, cancellation ...</p>
      </div>
      <div class="content" id="contact">
        <h3>Contact us</h3>
        <p class="pLine1">Xing Du</p>
        <p class="pLine2">du.xing1@husky.neu.edu</p>
        <p class="pLine1">Qi Zhang </p>
        <p class="pLine2">zhang.q@husky.neu.edu</p>
        <p class="pLine1">Jin Niu </p>
        <p class="pLine2"> niu.jin@husky.neu.edu</p>
        <p class="pLine1">Haolin Li</p>
        <p class="pLine2">li.haoli@husky.neu.edu</p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

