<header class = "blue" style="clear:both">
  <h1 class = "25"> Profile </h1>
</header>

<div class = "container">

    <label class="html-text-box">Username</label>

  <input [(ngModel)] = "username"
         name = username
         value = {{user.username}}

         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Email</label>
  <input [(ngModel)] = "email"
         name = email
         value = {{user.email}}

         placeholder=""
         type="email"
         class="form-control"/>

  <label class="html-text-box">First Name</label>
  <input [(ngModel)] = "firstName"
         value = {{user.firstName}}
         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Last Name</label>
  <input [(ngModel)] = "lastName"
         value = {{user.lastName}}
         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Current Password</label>
  <input [(ngModel)] = "currentpassword"
         placeholder="Type in previous password before change"
         type="password"
         class="form-control"/>

  <label class="html-text-box">Change Password</label>
  <input [(ngModel)] = "newpassword"
         placeholder=""
         type="password"
         class="form-control"/>

  <label class="html-text-box">Confirm Password</label>
  <input [(ngModel)] = "confirmpassword"
         placeholder=""
         type="password"
         class="form-control"/>

    <p>
      <button (click) = "updateUser(user, username, email, firstName, lastName,
      currentpassword, newpassword, confirmpassword)"
              class="html-text-box1"> Update </button>

      <a routerLink='/user/{{userId}}/website'>
        <input type="submit" value="Websites" class="html-text-box1">
      </a>

      <a routerLink='/login'>
        <input type="submit" value="Logout" class="html-text-box2" >
      </a>
    </p>

</div>


