<header class = "blue" style="clear:both">
  <h1 class = "25"> Profile </h1>
</header>

<div class = "container">

    <label class="html-text-box">Username</label>

  <input name = username
         value = {{user.username}}
         #username
         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Email</label>
  <input name = email
         value = {{user.email}}
         #email
         placeholder=""
         type="email"
         class="form-control"/>

  <label class="html-text-box">First Name</label>
  <input value = {{user.firstName}}
         #firstName
         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Last Name</label>
  <input value = {{user.lastName}}
         #lastName
         placeholder=""
         type="text"
         class="form-control"/>

  <label class="html-text-box">Current Password</label>
  <input placeholder="Type in previous password before change"
         #currentpassword
         type="password"
         class="form-control"/>

  <label for="password" class="html-text-box">Change Password</label>
  <input placeholder=""
         #newpassword
         type="password"
         class="form-control"/>

  <label for="password" class="html-text-box">Confirm Password</label>
  <input placeholder=""
         #confirmpassword
         type="password"
         class="form-control"/>

    <p>
      <button (click) = "updateUser(user, username.value, email.value, firstName.value, lastName.value,
      currentpassword.value, newpassword.value, confirmpassword.value)"
              class="html-text-box1"> Update </button>

      <a routerLink='/user/{{userId}}/website'>
        <input type="submit" value="Websites" class="html-text-box1">
      </a>

      <a routerLink='/login'>
        <input type="submit" value="Logout" class="html-text-box2" >
      </a>
    </p>

</div>


