
<div class = "container">

  <h1 class = "30"> Login </h1>


  <form method="post" action="" >

    <input [(ngModel)] = "username"
           name = username
           placeholder="username"
           type="text"
           class="form-control" style="padding-top:10px;padding-bottom:10px; height:50px"/>

    <input [(ngModel)] = "password"
           name = password
           placeholder="password"
           type="password"
           class="form-control" style="padding-top:10px;padding-bottom:10px; height: 50px"/>
    <p>
      <button (click) = "login(username, password)"
              class="html-text-box1"> Login </button>

      <a routerLink='/register'>
        <input type="submit" value="Register" class="html-text-box2">
      </a>
    </p>
  </form>

</div>
