
<div class = "container">

  <h1 class = "30"> Login </h1>


  <form method="post" action="" >

    <input placeholder="username"
           type="text"
           class="form-control" style="padding-top:10px;padding-bottom:10px; height:50px"/>

    <input placeholder="password"
           type="password"
           class="form-control" style="padding-top:10px;padding-bottom:10px; height: 50px"/>
    <p>
      <a routerLink='/user/:uid/website'>
        <input type="submit" value="Login" class="html-text-box1">

      </a>

      <a routerLink='/register'>
        <input type="submit" value="Register" class="html-text-box2">
      </a>
    </p>
  </form>

</div>
