<header class = "blue">
  <h1 class = "25"> Profile </h1>
</header>
<div class = "container">
  <ul class = "list-group">

    <li class = "list-group-item">
    <span>Username: there2win</span>
    </li>

    <li class = "list-group-item">
    <span> Email: li.haoli@husky.neu.edu</span>
    </li>

    <li class = "list-group-item">
    <span>First Name: Ted</span>
    </li>

    <li class = "list-group-item">
    <span>Last Name: Li</span>
    </li>

    <li class = "list-group-item">
      <span>Company: Northeastern University</span>
    </li>

    <li class = "list-group-item">
      <span>Job Title: Graduate Student</span>
    </li>

    <li class = "list-group-item">
      <span>Groups: </span>
      <a routerLink="">
        <span>Cloud Computing </span>
      </a>
      <a routerLink="">
        <span>Robotics </span>
      </a>
      <a routerLink="">
        <span>Big Data </span>
      </a>
    </li>

    <li class = "list-group-item">
      <a href = "https://www.linkedin.com/in/ted-li-1b5343a2/">
      <span>LinkedIn</span>
      </a>
    </li>

    <li class = "list-group-item">
      <a href = "https://www.facebook.com/verno.chaveut">
        <span>Twitter</span>
      </a>
    </li>

  </ul>

    <p>
      <a routerLink='/user/:uid/website'>
        <input type="submit" value="Websites" class="html-text-box1">
      </a>
      <a routerLink='/user/:uid/website/att/:pid/:mid'>
        <input type="submit" value="Send message" class="html-text-box2" >
      </a>
      <a routerLink='/user/:uid/website/att'>
        <input type="submit" value="Back to list" class="html-text-box1" >
      </a>
    </p>

</div>
<footer class = "blue">
  <a routerLink = '/user/:uid'>
    <span class="glyphicon glyphicon-user"></span>
  </a>
</footer>

